<!-- <div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h6 class="mt-1">Cadastro de Usuário</h6>
        </div>
        <div class="card-body bg-info">
          <form>
             (ngSubmit)="submitForm()
            <div class="mb-3 itens">
              <input type="text" id="nome" name="nome" class="w-100" required />
              <label for="nome" class="form-label">Nome completo:</label>
            </div>
            <div class="mb-3 itens">
              <input
                type="email"
                id="email"
                name="email"
                class="w-100"
                required
              />
              <label for="email" class="form-label">Email:</label>
            </div>
            <div class="mb-3 itens">
              <input
                type="password"
                id="senha"
                name="senha"
                class="w-100"
                required
              />
              <label for="senha" class="form-label">Senha:</label>
              <div class="iconDiv">
                <i class="bi bi-eye-fill icon" style="color: white"></i>
              </div>
            </div>
            <div class="mb-3 itens">
              <input
                type="password"
                id="confiSenha"
                name="confiSenha"
                class="w-100"
                required
              />
              <label for="confiSenha" class="form-label"
                >Confirme a senha:</label
              >
            </div>
            <button type="button" class="btn btn-warning btnEdit">
              Voltar
            </button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-menu-rout-component></app-menu-rout-component>
<form class="container form mt-3 bg-primary border-solid-info">
  <p class="title text-white">Cadastre-se</p>
  <p class="message bold">
    Faça seu cadastro para poder ter acesso a nossa rede!
  </p>
  <label>
    <input class="input" type="text" placeholder="" required="" />
    <span>Nome completo</span>
  </label>

  <label>
    <input class="input" type="email" placeholder="" required="" />
    <span>E-mail</span>
  </label>

  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Senha</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Confirme a senha</span>
  </label>
  <button class="btn btn-info">Cadastrar</button>
  <p class="signin">
    Já é cadastrado?
    <a href="#" routerLink="" routerLinkActive="active">Entre</a>
  </p>
</form>
