<app-menu-rout-component></app-menu-rout-component>
<form class="container form  bg-primary border-solid-info mt-5">
  <p class="title text-white">Cadastre-se</p>
  <p class="message bold">
    Faça seu cadastro para poder ter acesso a nossa rede!
  </p>
  <label>
    <input class="input" type="text" placeholder="" required="" />
    <span>Nome completo</span>
  </label>

  <label>
    <input class="input" type="text" placeholder="" required="" />
    <span>Usuário</span>
  </label>

  <label>
    <input class="input" type="email" placeholder="" required="" />
    <span>E-mail</span>
  </label>

  <label>
    <input class="input" type="text" placeholder="" required="" />
    <span>Usuário</span>
  </label>

  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Senha</span>
  </label>

  <button class="btn btn-info">Cadastrar</button>
  <p class="signin">
    Já é cadastrado?
    <a href="#" routerLink="" routerLinkActive="active">Entre</a>
  </p>
</form>
