.feed-page{

    display: flex;
    // align-items: center;
    flex-direction: row;
    // justify-content: center;

    // margin-left: 33%;
    // width: 100%;
    // height: 100%;
    border: 0;
    margin: 0;
    padding: 0;

    .feed-left{

        width: calc(100vw / 3);
        // height: 100%;

        // display: flex;
        // align-items: center;
        align-content: start;

        // cor
        // background-color: #edeaed;
        background-color: #ede8f9;

        margin: 0;
        padding: 0;

        // border-right: 3px solid gray;
        border-right: 3px solid #edeaed;
    }

    .feed-feed{

        width: calc(100vw / 3 * 2);
        border: 0;
        margin: 0;
        padding: 0;

        // background: cyan;
    }
}
