
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



nav a{
font-family:'Montserrat';
translate: no;
}

nav{
margin-bottom: 50px;
}

.pesq{

  border-radius: 50px;
}
