<div class = "new-post-main mt-5">
    <!-- nada -->
    <div class = "new-post-message">
        <!-- <label
        name="new-message"
        d="new-message"
        required=""
        class="new-message"
        placeholder="Fale sobre seu pet"
        > -->
        <textarea class = "new-post-message-text" rows="1" placeholder = "Fale sobre seu pet!"></textarea>
    </div>

    <div class = "new-post-buttons">

        <button class = "new-post-button-image">
            Foto
            <!-- <i class="bi bi-heart text-danger like"></i> -->
        </button>

        <button class = "post-button-send">
            Enviar
            <!-- <i class="bi bi-heart text-danger like"></i> -->
        </button>
    </div>
    <hr class = "post-line">
</div>
