<div class = "new-post-main">
    <!-- nada -->
    <div class = "new-post-message">
        <!-- <label
        name="new-message"
        id="new-message"
        required=""
        class="new-message"
        placeholder="Fale sobre seu pet"
        > -->
        <textarea class = "new-post-message-text" rows="1" placeholder = "Fale sobre seu pet!"></textarea>
    </div>

    <div class = "new-post-buttons">
        
        <button class = "new-post-button-image">
            <!-- Foto -->
            <img class = "button-image" src = "../../assets/Images/image.webp">
            <!-- <i class="bi bi-heart text-danger like"></i> -->
        </button>
        
        <button class = "post-button-send">
            <!-- Enviar -->
            <img class = "button-image" src = "../../assets/Images/sendmessage.webp">
            <!-- <i class="bi bi-heart text-danger like"></i> -->
        </button>
    </div>
    <hr class = "post-line">
</div>
