<div class = "post-main">
    <!-- nada -->
    <div class = "post-top">
        <div class = "post-profile-photo">
            foto<br>
            aqui
        </div>
        <div class = "post-name">
            <div class = "post-user-name"><p class = "user-name">Nome do Usuário</p></div>
            <div class = "post-pet-names"><p class = "pet-names">Nome do Pet</p></div>
        </div>
        <div class = "post-options">...</div>
        
    </div>

    <div class = "post-message">
        Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem Mensagem 
    </div>

    <div class = "post-image">
        Imagem aqui
    </div>
    <div class = "post-bottom">
        <button class = "post-button">like</button>
    </div>
    <hr class = "post-line">
</div>
