<div class = "post-main">
    <!-- nada -->
    <div class = "post-top">
        <div class = "post-profile-photo">
            <img class = "post-user-photo-image" src = "../../assets/Images/TESTEFotoPerfil.png">
            <!-- foto<br>
            aqui -->
        </div>
        <div class = "post-name">
            <div class = "post-user-name"><p class = "user-name">Nome do Usuário</p></div>
            <div class = "post-pet-names"><p class = "pet-names">Nome do Pet</p></div>
        </div>
        <div class = "post-options">...</div>

    </div>

    <div class = "post-message">
      Não há nada como a alegria pura e a lealdade incondicional de um amigo de quatro patas. Juntos, exploramos o mundo, descobrimos novas aventuras e compartilhamos momentos de felicidade que aquecem o coração. Cada latido, cada ronronar, é uma sinfonia de amor e gratidão. Nossas jornadas juntos são mais do que passeios; são memórias preciosas que guardarei para sempre. 🐾❤️ #MelhorAmigoPeludo #CompanheiroDeAventuras
    </div>

    <div class = "post-image">
        <!-- <img  class = "post-image-image" src = "../../assets/Images/TESTEPostagem 1_1.png"> -->
        <img  class = "post-image-image" src = "../../assets/Images/TESTEPostagem 4_3.png">
        <!-- Imagem aqui -->
    </div>
    <div class = "post-bottom">

        <div class = "post-bottom-left">
            <textarea class = "post-comment-text" rows="1" placeholder = "Comente algo aqui"></textarea>

            <button class = "btn btn-outline-primary post-comment-button-send">Enviar</button>
=======
            <button class = "post-comment-button-send">
                <img class = "button-image" src = "../../assets/Images/sendmessage.webp">
            </button>
        </div>

        <div class = "post-bottom-right">
            <button class = "post-button">
                <i class="bi bi-heart text-danger like"></i>
                <br>
                20
            </button>
        </div>
    </div>
    <hr class = "post-line">
</div>
