$unit-size: 75px;

.post-main{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // background: red;
    // margin-left: 33%;

    .post-top{

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        height: calc(100vw / 24);

        margin-top: calc((100vw / 24) / 3);
        margin-bottom: calc((100vw / 24) / 3);

        .post-profile-photo{

            background: gray;
            width: calc(100vw / 24);
            height: calc(100vw / 24);
        }

        .post-name{

            // background: blueviolet;
            width: calc((100vw / 24) * 8);
            height: calc(100vw / 24);

            // align-items: start;

            .post-user-name, .post-pet-names{

                height: calc((100vw / 24) / 2);
                line-height: calc((100vw / 24) / 2);
                text-align: left;
            }

            .user-name{

                font-size: 16px;
                font-weight: bold;
            }
            .pet-names{

                font-size: 15px;
            }
        }

        .post-options{
            background: gray;
            width: calc(100vw / 24);
            height: calc(100vw / 24);
        }
    }

    .post-message{

        width: calc((100vw / 24) * 8);
        font-size: 15px;
    }

    .post-image{

        width: calc((100vw / 24) * 8);
        height: calc((100vw / 24) * 6);
        border: 2px solid gray;
    }

    .post-bottom{

        width: calc((100vw / 24) * 8);
        height: calc(100vw / 24);
        padding-top: calc((100vw / 24) / 9);
        padding-bottom: calc((100vw / 24) / 9);
        margin-bottom: calc((100vw / 24) * 0.5);;

        background: gray;

        display: flex;
        align-items: right;
        flex-direction: row;
        justify-content: right;

        .post-button{

            cursor: pointer;
            // padding: 12px 35px;
            width: calc((100vw / 24) * 0.9);
            height: calc((100vw / 24) / 3);
            margin-right: calc((100vw / 24) * 0.05);
            margin-left: calc((100vw / 24) * 0.05);
            outline: none;
            background-color: transparent;
            border: none;

            .like{
              font-size: 30PX;
            }
        }
    }

    .post-line{

        width: calc((100vw / 24) * 12);
        padding: 0%;
        border: 2px solid gray;
        margin: 0;
    }
}
