

<div class = "feed-profile">
    <div class = "profile-user">
      <div class = "profile-user-photo">
        <img class = "profile-user-photo-image" src = "../../assets/Images/TESTEFotoPerfil.png">
        <!-- foto<br>
        aqui -->
      </div>
      <div class = "profile-names">
        <div class = "profile-user-name">
          <p class="text-primary">Carolina Moreira Stawichs</p>
        </div>
        <div class = "profile-user-username">
          <p>&#64;Carol_Stawichs34</p>
        </div>
      </div>
    </div>

    <div class = "profile-pet">
      <div class = "profile-pet-photo">
        <img class = "profile-pet-photo-image mt-4" src = "../../assets/Images/TESTEFotoPerfilPet.png">
        <!-- Foto -->
      </div>


      <div class = "profile-pet-right">

        <div class = "profile-pet-name">
          Estrela
        </div>

        <div class = "profile-pet-info">
          <p class = "profile-pet-info-text">4 anos de idade</p>
        </div>

        <div class = "profile-pet-name">
          Lua
        </div>

        <div class = "profile-pet-info">
          <p class = "profile-pet-info-text">6 anos de idade</p>
        </div>

      </div>

    </div>

    <div class = "profile-bio">
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio
    </div>

    <div class = "profile-info">
      <p class = "profile-info-text">Conta criada em janeiro de 2024</p>
    </div>
    <div class = "profile-bottom">
      <!-- <button class = "profile-edit-profile">Editar perfil</button> -->
<!-- <input class="btn btn-outline-primary" value="Editar Perfil"/> -->
<app-edit-perfil-component></app-edit-perfil-component><br>
      <input class="btn btn-outline-primary" value="Adicionar Pet"/>
<!-- <input class="btn btn-outline-primary" value="Editar Perfil"/>

      <input class="btn btn-outline-primary" value="Adicionar Pet"/> -->
    </div>

</div>
