

<div class = "feed-profile">
    <div class = "profile-user">
      <div class = "profile-user-photo">
        <img class = "profile-user-photo-image" src = "../../assets/Images/TESTEFotoPerfil.png">
        <!-- foto<br>
        aqui -->
      </div>
      <div class = "profile-names">
        <div class = "profile-user-name">
          <p>Nome do usuárioaa aaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class = "profile-user-username">
          <p>&#64;NomeDoUsuario</p>
        </div>
      </div>
    </div>

    <div class = "profile-pet">
      <div class = "profile-pet-photo">
        <img class = "profile-pet-photo-image" src = "../../assets/Images/TESTEFotoPerfilPet.png">
        <!-- Foto -->
      </div>

      <div class = "profile-pet-right">
      
        <div class = "profile-pet-name">
          Nome do Pet 1
        </div>

        <div class = "profile-pet-info">
          <p class = "profile-pet-info-text">4 anos de idade</p>
        </div>
        
      </div>

    </div>

    <div class = "profile-bio">
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio 
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio
      bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio
    </div>
</div>
    <div class = "profile-info">
      <p class = "profile-info-text">Conta criada em janeiro de 2024</p>
    </div>
    <div class = "profile-bottom">
      <!-- <button class = "profile-edit-profile">Editar perfil</button> -->
      <input class="btn btn-outline-primary" value="Editar Perfil"/>
      
      <input class="btn btn-outline-primary" value="Adicionar Pet"/>
    </div>
    
</div>
