
.feed-profile{

  display: flex;
  align-items: start;
  flex-direction: column;

  // cor
  // background: white;
  // left: calc((100vw / 24) * 1.5);
  // margin-top: 75px;
  margin-top: calc(100vw / 24);
  
  width: calc((100vw / 24) * 6.75);
  
  // RELATIVE
  // margin-top: calc(100vw / 24);
  // position: relative;
  // margin-left: auto; 
  // margin-right: 0;

  top:0;
  right:0;

  // overflow-y: auto;
  
  // FIXED
  position: fixed;
  top: calc((100vw / 24) * .5);
  left: calc((100vw / 24) * 1.25);
  
  .profile-user{

    display: flex;
    align-items: start;
    flex-direction: row;

    margin-bottom: calc((100vw / 24) * 0.2);

    .profile-user-photo{

      width: calc((100vw / 24) * 1.5);
      height: calc((100vw / 24) * 1.5);

      // cor
      // background-color: gold;

      display: flex;
      align-items: center;
      justify-content: center;

      .profile-user-photo-image{

          // width: calc((100vw / 24) * 1.4);
          // height: calc((100vw / 24) * 1.4);
          width: 100%;
          height: 100%;
          border-radius: 15%;
          // position: absolute;
          // vertical-align: middle;
          // margin: auto;
      }
    }

    .profile-names{

      display: flex;
      align-items: start;
      flex-direction: column;
      // vertical-align: middle;
      margin: auto;
      // justify-items: center;

      .profile-user-name, .profile-user-username{

        width: calc((100vw / 24) * 3.75);
        // line-height: calc((100vw / 24) * 0.75);
        // align-items: center;

        // line-height: calc((100vw / 24) * .4);


        margin-left: calc((100vw / 24) * 0.25);

        // left: 0;
        // right: auto;
      }
      .profile-user-name{

        font-weight: bold;
        font-size: 21px;
        height: calc((100vw / 24) * 1);

        // display: inline-block;
        // vertical-align: middle;

        // align-items: center;
        // justify-items: center;
        // vertical-align: middle;
        // display: inline-block;
        // vertical-align: middle;
        // line-height: normal;

        // cor
        // background-color: brown;
      }

      .profile-user-username{

        height: calc((100vw / 24) * .5);
        font-size: 19px;

        // cor
        // background-color: coral;
      }
    }
  }

  .profile-pet{
    
    display: flex;
    align-items: start;
    flex-direction: row;

    .profile-pet-photo{

      display: flex;
      align-items: center;
      justify-content: end;

      width: calc((100vw / 24) * 1.5);
      height: calc((100vw / 24) * 0.75);

      // cor
      // background-color: darkslategray;

      .profile-pet-photo-image{

        width: calc((100vw / 24) * 0.75);
        height: calc((100vw / 24) * 0.75);

        border-radius: 15%;
      }
    }

    .profile-pet-right{
      
      // display: flex;
      // align-items: start;
      // flex-direction: column;

      .profile-pet-name{

        height: calc((100vw / 24) * 0.75);
        line-height: calc((100vw / 24) * 0.75);
        align-items: center;

        margin-left: calc((100vw / 24) * 0.25);
        font-weight: bold;

        font-size: 19px;

        // cor
        // background-color: khaki;
      }

      .profile-pet-info{

        margin-left: calc((100vw / 24) * 0.25);

        // cor
        // background-color: lightcoral;

        .profile-pet-info-text{

        font-size: 16px;
        }
      }
    }
  }

  .profile-bio{

    // border-top: solid 2px gray;
    // border-bottom: solid 2px gray;

    width: calc((100vw / 24) * 5.5);
    left: 0;
    right: auto;

    margin-top: calc((100vw / 24) * .4);
    margin-bottom: calc((100vw / 24) * .4);
    padding-bottom: calc((100vw / 24) * .4);
    padding-top: calc((100vw / 24) * .4);

    // cor
    // background-color: limegreen;
  }

  .profile-info{
    
    // margin-top: calc((100vw / 24) * .2);
    font-size: 14px;
  }

  .profile-bottom{

    // margin-top: calc((100vw / 24) * .5);
    // width: calc((100vw / 24) * 4);

    display: flex;
    align-items: start;
    justify-content: end;

    .btn{

      // width: calc((100vw / 24) * 1.5);

      margin-right: calc((100vw / 24) * .25);
    }
    
    button{

      cursor: pointer;
      // padding: 12px 35px;
      // min-width: calc((100vw / 24) * 1);
      width: calc((100vw / 24) * .75);
      height: calc((100vw / 24) * .75);
      // margin-right: calc((100vw / 24) * 0.05);
      margin-right: calc((100vw / 24) * 0.1);
  
      border-radius: calc(((100vw / 24) * 6) * .01);

      background-color: #f0ecf8;
      // color: #282631;
      color: #967ace;
      // border-color: gray;
      border-color: #967ace;
      // font-weight: bold;

      // outline: none;
      // background-color: transparent;
      // border: none;

      // .like{
      //   font-size: 30PX;
      // }

      .button-image{

        width: 95%;
        height: 95%;

        object-fit: contain;

        filter: brightness(0) saturate(100%) invert(55%) sepia(43%) saturate(492%) hue-rotate(219deg) brightness(87%) contrast(90%);
      }

    }

    button:hover{

      background-color: #aa8be5;
      color: white;
      
      .button-image{

        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(105%) contrast(105%);
      }
    }

    button:active{

        background-color: rgb(242, 242, 242);
        color: #967ace;
        // color:#282631;

        .button-image{

          filter: brightness(0) saturate(100%) invert(55%) sepia(43%) saturate(492%) hue-rotate(219deg) brightness(87%) contrast(90%);
        }
    }

  }

}

