
.feed-profile{

  display: flex;
  align-items: start;
  flex-direction: column;

  background: white;
  // left: calc((100vw / 24) * 1.5);
  // margin-top: 75px;
  margin-top: calc(100vw / 24);
  margin-left: auto; 
  margin-right: 0;
  // width: calc((100% / 8) * 6.5);
  width: calc((100vw / 24) * 6.5);
  
  position: relative;
  top:0;
  right:0;


  
  .profile-user{

    display: flex;
    align-items: start;
    flex-direction: row;

    margin-bottom: calc((100vw / 24) * 0.2);

    .profile-user-photo{

      width: calc((100vw / 24) * 1.5);
      height: calc((100vw / 24) * 1.5);

      background-color: gold;
    }

    .profile-names{

      display: flex;
      align-items: start;
      flex-direction: column;

      .profile-user-name, .profile-user-username{

        height: calc((100vw / 24) * 0.75);
        line-height: calc((100vw / 24) * 0.75);
        // align-items: center;

        text-align: left;

        margin-left: calc((100vw / 24) * 0.5);;

        // left: 0;
        // right: auto;
      }
      .profile-user-name{

        font-weight: bold;
        font-size: 18px;

        background-color: brown;
      }

      .profile-user-username{

        font-size: 16px;

        background-color: coral;
      }
    }
  }

  .profile-pet{
    
    display: flex;
    align-items: start;
    flex-direction: row;

    .profile-pet-photo{

      width: calc((100vw / 24) * 1.5);
      height: calc((100vw / 24) * 0.75);

      background-color: darkslategray;
    }

    .profile-pet-right{
      
      // display: flex;
      // align-items: start;
      // flex-direction: column;

      .profile-pet-name{

        height: calc((100vw / 24) * 0.75);
        line-height: calc((100vw / 24) * 0.75);
        align-items: center;

        margin-left: calc((100vw / 24) * 0.5);
        font-weight: bold;

        background-color: khaki;
      }

      .profile-pet-info{

        margin-left: calc((100vw / 24) * 0.5);

        background-color: lightcoral;

        .profile-pet-info-text{

          font-size: 14px;
        }
      }
    }
  }

  .profile-bio{

    width: calc((100vw / 24) * 5.5);
    left: 0;
    right: auto;

    margin-top: calc((100vw / 24) * .5);

    background-color: limegreen;
  }

  .profile-info{
    
    margin-top: calc((100vw / 24) * .2);
    font-size: 14px;
  }

  .profile-bottom{

    margin-top: calc((100vw / 24) * .5);

    .btn{

      width: calc((100vw / 24) * 1.5);
    }
  }

}

